
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.complaindescription{
  height: 50vh;
  width: 80vw;
}

.description {
  height: 40vh;
  width: 100%;
}
