<mat-card>
  <mat-card-title>
    Insertar Queja
  </mat-card-title>
  <mat-card-content class="card-content">
    <form #complain="ngForm">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Departamento</mat-label>
          <mat-select
          [(ngModel)]="Department.ID"
          name="department"
          [(value)]="Department.ID"
          required
          #department="ngModel">
            <mat-option *ngFor="let item of Departments" [value]="item.ID">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Tipo de Queja</mat-label>
            <mat-select
            [(ngModel)]="ComplainType.ID"
            name="complainType"
            [(value)]="ComplainType.ID"
            required
            #complainType="ngModel">
              <mat-option *ngFor="let item of ComplainTypes" [value]="item.ID">
                {{item.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-container" class="complaindescription">
          <mat-form-field appearance="fill" class="description">
              <mat-label>Descripcion de queja</mat-label>
              <textarea matInput class="description" [(ngModel)]="Complain.description" name="description" #description="ngModel" required>
              </textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onCreateComplain()" [disabled]="complain.invalid" >Crear Queja</button>
        </div>
    </form>
  </mat-card-content>
</mat-card>
