<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
   <mat-toolbar-row>
     <!--  <span>HOME</span> -->
     <button mat-button class="nav-button logo-img-container" [routerLinkActive]="['link-active']" [routerLink]="['/home']">
      <img class="logo-img" src="../../assets/images/logo.png">
    </button>
    <div class="title" [routerLink]="['/']">
      <h1 >Complain Site</h1>
    </div>
      <span class="spacer"></span>
  <div *ngIf="login && user_Type == 2">
    <button mat-button (click)="onNavComplain()">Quejas</button>
    <button mat-button (click)="onNavClaim()">Reclamaciones</button>
  </div>
  <div *ngIf="login && user_Type == 1">
    <button mat-button (click)="onNavMComplain()">Quejas</button>
    <button mat-button (click)="onNavMComplainType()">Tipo de Queja</button>
    <button mat-button (click)="onNavMComplainState()">Estado de Queja</button>
    <button mat-button (click)="onNavMClaim()">Reclamaciones</button>
    <button mat-button (click)="onNavMClaimType()">Tipo de Reclamacion</button>
    <button mat-button (click)="onNavMClaimState()">Estado de Reclamacion</button>
    <button mat-button (click)="onNavMDepartment()">Departamento</button>
  </div>
   </mat-toolbar-row>
</mat-toolbar>
<app-login-component *ngIf="!login" (onLogin)="onLogin($event)"></app-login-component>
<router-outlet *ngIf="login"></router-outlet>






