<div class="main-background">
  <mat-card class="card">
    <mat-card-title>
      Reclamaciones
    </mat-card-title>
    <mat-card-content>
      <ag-grid-angular
      class="ag-theme-material data-grid"
      #myGrid
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationAutoPageSize]="true"
      rowSelection="multiple"
      [suppressRowClickSelection]="true"
      [rowData]="rowData"
      [stopEditingWhenGridLosesFocus]="true"
      (cellValueChanged)="onCellValueChanged($event)"
      (selectionChanged)="onSelectionChanged($event)"
      [frameworkComponents]="frameworkComponents"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

    <div class="grid-buttons">
      <button mat-raised-button *ngIf="selection" class="delete-row-button">
        <mat-icon aria-hidden="false" class="nav-icon">delete</mat-icon>
        <a class="nav-link text-light" (click)="onDeleteRow()">Borrar Reclamacion</a>
      </button>
      <button mat-raised-button class= "save-button" *ngIf="gridEdited == true" (click)="onSaveChanges()">
        <a class="nav-link text-light">Guardar Cambios</a>
      </button>
      <button mat-raised-button *ngIf="selection" class="answer-button">
        <mat-icon aria-hidden="false" class="nav-icon">add_comment</mat-icon>
        <a class="nav-link text-light" (click)="onDisplayAnswer()">Responder Reclamacion</a>
      </button>
    </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="answer-card" *ngIf="showAnswer">
    <mat-card-title>
      Insertar Respuesta
    </mat-card-title>
    <mat-card-content class="card-content">
      <form #responseForm="ngForm">
        <div class="input-container">
          <mat-form-field class="input-d-name">
            <mat-label>Fecha de Respuesta</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" required  name="date" placeholder="Choose a date" [(ngModel)]="response.date" #date="ngModel" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="input-container" class="Claimdescription">
            <mat-form-field appearance="fill" class="description">
                <mat-label>Contenido</mat-label>
                <textarea matInput class="description" [(ngModel)]="response.content" name="content" #content="ngModel" required>
                </textarea>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="onCreateResponse()" [disabled]="responseForm.invalid" >Crear Respuesta</button>
          </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
