<div class="main-background">
  <mat-card class="card">
    <mat-card-title>
      Quejas
    </mat-card-title>
    <mat-card-content>
      <ag-grid-angular
      class="ag-theme-material data-grid"
      #myGrid
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationAutoPageSize]="true"
      rowSelection="multiple"
      [suppressRowClickSelection]="true"
      [rowData]="rowData"
      [stopEditingWhenGridLosesFocus]="true"
      (cellValueChanged)="onCellValueChanged($event)"
      (selectionChanged)="onSelectionChanged($event)"
      [frameworkComponents]="frameworkComponents"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

    <div class="grid-buttons">
      <button mat-raised-button *ngIf="selection" class="delete-row-button">
        <mat-icon aria-hidden="false" class="nav-icon">delete</mat-icon>
        <a class="nav-link text-light" (click)="onDeleteRow()">Borrar Queja</a>
      </button>
      <button mat-raised-button class= "save-button" *ngIf="gridEdited == true" (click)="onSaveChanges()">
        <a class="nav-link text-light">Guardar Cambios</a>
      </button>
      <button mat-raised-button class= "save-button" (click)="this.gridOptions.api.exportDataAsCsv()">
        <a class="nav-link text-light">Exportar</a>
      </button>
    </div>

    </mat-card-content>
  </mat-card>
</div>
